/* This is the font styles */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* This overrides default browser settings */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* These are the main element styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'anton', 'sans-serif';
}

p,
input,
button,
div {
    font-family: 'Roboto Condensed', 'sans-serif';
}

/* This is the background for the White House */
body {
    background: linear-gradient(rgba(128, 128, 128, 0.8), rgba(50, 50, 50, 0.8)), url('../images/the-white-house.jpg') fixed center / cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    align-content: flex-end;
}

/* This is the header styles */

#heading {
    color: #f00;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline;
    font-size: 2rem;
    padding-top: 20px;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

/* This is the main body styles */

#welcome-div,
#prompt-div {
    border: solid #fff 2px;
    border-radius: 10px;
    margin: 30px 50px 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#welcome-text,
#prompt-text {
    color: #fff;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
}

/* This is the styles for the form */

#form {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 20px 50px;
    border-radius: 10px;
    max-height: 1000px;
    transition: max-height 1.5s;
    overflow: hidden;
}

#form input {
    background-color: #000;
    border: none;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

#formTitleDiv {
    display: flex;
}

/* This class is to make 'register' and 'login' white, while the underline remains blue */
.white {
    color: #fff;
}

#formHeading {
    width: 100%;
    color: #f00;
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

/* Input Styles */
#inputs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 300px;
}

/* These are the form input styles */
form input {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
    font-size: 1em;
    letter-spacing: 2px;
    display: inline;
    justify-content: flex-end;
}

/* Input placeholder color */
form input::placeholder {
    color: #fff;
}

#form input:hover {
    border: #f00 solid 2px;
    border-radius: 10px;
}

/* Submit button Styles */

form #submitBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form #guestBtn {
    align-content: center;
    margin-right: 20px;
}

form #guestBtn:hover {
    color: #f00;
    cursor: pointer;
}

form button {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1em;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    border-bottom: #f00 2px solid;
    padding: 5px;
    letter-spacing: 2px;
}

form button:hover {
    color: #f00;
    cursor: pointer;
}

.error-msg {
    color: #f00;
    font-weight: bold;
    margin-left: 20px;
}

#confirm-password {
    max-height: 80px;
    overflow: hidden;
    transition: maxheight 0.5s;
    transition: padding 0.5s;
}

/* Signup/Signin Button Styles */

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 10px 40px;
}

form .btn {
    background-color: #a9a9a9;
    border-radius: 10px;
    text-decoration: none;
    border: #fff 2px solid;
    padding: 10px 50px;
    letter-spacing: 3px;
    cursor: pointer;
    font-weight: bold;
}

form .btn:hover {
    background-color: #363636;
    color: #fff;
    border: #fff 2px solid;
}

form .active {
    background-color: #000080;
}

form .active:hover {
    background-color: #000080;
}

/* This section is for the difficulties */

#beginDiv {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px 50px;
    position: relative;
    bottom: 80px;
    height: 400px;
    max-height: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: max-height 1.5s;
}

#beginDiv div {
    padding: 20px;
    border: #fff 2px solid;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin: 20px 50px 50px;
    border-radius: 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* This is the Question Window section */

#questionWindow {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin: 0 50px;
    position: relative;
    bottom: 100px;
    max-height: 0px;
    transition: max-height 2s;
    overflow: hidden;
}

#questionNoTextDiv {
    display: flex;
    justify-content: space-between;
}

#questionNoText {
    color: #f00;
    padding: 30px 0 0 20px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
}

i {
    color: #fff;
    margin: 25px;
    font-size: 1.5em;
}

i:hover {
    color: #363636;
    cursor: pointer;
}

#questionDiv {
    border: #f00 2px solid;
    border-radius: 10px;
    margin: 20px;
}

#questionText {
    text-align: left;
    border: #fff 2px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
}

.answerText {
    margin: 20px;
    background-color: #000;
    border: #fff 2px solid;
    border-radius: 30px;
}

.answerText:hover {
    border: 2px #f00 solid;
    color: #f00;
    cursor: pointer;
}

.answerText {
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}

#nextQuestionDiv {
    display: flex;
    justify-content: center;
}

.question-btn {
    border: #f00 2px solid;
    font-weight: bold;
    padding: 15px;
    border-radius: 20px;
    font-size: 1em;
    margin: 0 30px 20px 30px;
    background-color: #000;
    text-align: center;
    width: fit-content;
}

.question-btn:hover {
    border: #000080 2px solid;
    cursor: pointer;
}

.correct, .correct:hover {
    border: #00c04b 2px solid;
    color: #00c04b;
}

.wrong {
    border: #f00 2px solid;
    color: #f00;
}

/* This section refers to the results window */

#resultsDiv {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 30px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    max-height: 0px;
    transition: max-height 2s;
    overflow: hidden;
    position: relative;
    bottom: 100px;
}

#resultsText {
    color: #fff;
    background-color: #000;
    border: 2px #fff solid;
    border-radius: 10px;
    font-size: 3rem;
    text-align: center;
    padding: 30px;
    margin: 30px;
}

#score {
    color: #fff;
    font-size: inherit;
}

.resetBtn {
        color: #fff;
        border: #f00 2px solid;
        font-weight: bold;
        padding: 15px;
        border-radius: 20px;
        font-size: 1.5em;
        margin: 20px 100px;
        background-color: #000;
        text-align: center;
        justify-content: center;
}

.resetBtn:hover {
    cursor: pointer;
    border: #000080 2px solid;
}

/* Media Query for Tablets and higher (768px and higher) */

@media screen and (min-width: 768px) {

    /* This section refers to the header */

    #heading {
        font-size: 3em;
    }

    /* This section refers to the welcome text */

    #welcome-div {
        margin-left: 50px;
        margin-right: 50px;
    }

    #prompt-div {
        margin-left: 50px;
        margin-right: 50px;
    }

    #welcome-text {
        font-size: 2em;
        padding: 10px;
    }

    #prompt-text {
        font-size: 2.5em;
    }

    /* This section refers to the form */

    #form {
        margin-left: 150px;
        margin-right: 150px;
    }

    #formHeading {
        font-size: 2em;
    }

    #inputs {
        font-size: 1.5em;
    }

    #form button {
        font-size: 1.5em;
    }

    /* This section refers to the begin window */

    #beginDiv div {
        margin: 50px 150px;
        font-size: 2em;
        letter-spacing: 5px;
    }

    /* This is the Question Window section */

    #questionWindow {
        margin: 20px 50px;
    }

    #questionNoText {
        padding: 30px 0 0 20px;
        text-underline-offset: 5px;
        text-decoration-thickness: 5px;
        font-size: 2em;
    }

    #questionDiv {
        margin: 20px;
    }

    #questionText {
        text-align: left;
        padding: 10px;
        font-size: 2em;
        letter-spacing: 3px;
    }

    .answerText {
        margin: 20px;
    }

    .answerText {
        font-size: 2em;
        padding: 20px;
    }

    #nextQuestionDiv {
        display: flex;
        justify-content: center;
    }

    .question-btn {
        padding: 15px;
        font-size: 2em;
        margin: 0 30px 20px 30px;
        text-align: center;
        width: fit-content;
    }

    i {
        font-size: 3rem;
    }

    /* This section refers to the results window */

#resultsDiv {
    margin: 30px 80px;
    border-radius: 10px;
}

#resultsText {
    font-size: 3.5rem;
    padding: 30px;
    margin: 30px;
}

#score {
    font-size: 3.5rem;
}

.resetBtn {
        padding: 15px;
        font-size: 2.5em;
        margin: 20px 150px;
}
}

/* Medis query for laptops and higher (1024px sand higher) */

@media screen and (min-width: 1024px) {

    /* This section is for the header */

    #heading {
        font-size: 4em;
    }

    /* This section refers to the welcome text */

    #welcome-div {
        margin: 0 100px;
    }

    #prompt-div {
        margin: 0 100px;
    }

    #welcome-text {
        font-size: 3em;
        padding: 10px;
    }

    #prompt-text {
        font-size: 3.5em;
    }

    /* This section refers to the form */

    #form {
        width: 50%;
    }

    #form-div {
        display: flex;
        justify-content: center;
    }

    #formHeading {
        font-size: 3em;
    }

    #inputs {
        font-size: 2em;
    }

    #form button {
        font-size: 2em;
    }

    /* This section is for the begin window */

#beginDiv {
    margin: 20px 300px;
}

#beginDiv div {
    padding: 20px;
    border: #fff 2px solid;
    color: #fff;
    background-color: #000;
    text-align: center;
    margin: 50px 50px;
    border-radius: 30px;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
}

    /* This is the Question Window section */

    #questionWindow {
        margin: 20px 300px;
    }

    #questionNoText {
        padding: 30px 0 0 20px;
        text-underline-offset: 5px;
        text-decoration-thickness: 5px;
        font-size: 2em;
    }

    #questionDiv {
        margin: 20px;
    }

    #questionText {
        text-align: left;
        padding: 10px;
        font-size: 3em;
        letter-spacing: 3px;
    }

    #answerDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .answerText {
        margin: 20px;
        flex: 1 0 auto;
    }

    .answerText {
        font-size: 3em;
        padding: 30px;
    }

    #nextQuestionDiv {
        display: flex;
        justify-content: center;
    }

    .question-btn {
        padding: 15px;
        font-size: 2em;
        margin: 0 30px 20px 30px;
        text-align: center;
        width: fit-content;
    }

    i {
        font-size: 4rem;
    }

        /* This section refers to the results window */

#resultsDiv {
    margin: 30px 150px;
    border-radius: 10px;
}

#resultsText {
    font-size: 4.5rem;
    padding: 30px;
    margin: 50px;
}

#score {
    font-size: 4.5rem;
}

.resetBtn {
        padding: 15px;
        font-size: 3em;
        margin: 50px 350px;
}
}