/* This is the font styles */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/* This overrides default browser settings */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* These are the main element styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'anton', 'sans-serif';
}

p, input, button {
    font-family: 'Roboto Condensed', 'sans-serif';
}

/* This is the background for the White House */
body {
    background: linear-gradient(rgba(128, 128, 128, 0.8), rgba(50, 50, 50, 0.8)), url('../images/the-white-house.jpg') fixed center / cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    align-content: flex-end;
}

/* This is the header styles */

#heading {
    color: red;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline;
    font-size: 2rem;
    padding-top: 20px;
    text-underline-offset: 8px;
    text-decoration-thickness: 5px;
}

/* This is the main body styles */

#welcome-div,
#prompt-div {
    border: solid #fff 2px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

#welcome-text,
#prompt-text {
    color: #fff;
    padding: 5px;
    font-size: 1.5em;
    text-align: center;
}

/* This is the styles for the form */

#form {
    border: solid #fff 2px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#form input {
    border: solid #fff 2px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
}

#top-buttons {
    display: flex;
}

/* This class is to make 'register' and 'login' white, while the underline remains blue */
.white {
    color: #fff;
}

.toggle-button {
    width: 50%;
    color: red;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-top: 5px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

/* Input Styles */
#inputs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex-basis: 300px;
}

/* These are the form input styles */
form input {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 20px;
    padding: 5px;
    font-size: 1em;
    letter-spacing: 2px;
    display: inline;
    justify-content: flex-end;
}

/* Input placeholder color */
form input::placeholder {
    color: #fff;
}

#form input:hover {
    border: red solid 2px;
    border-radius: 10px;
}

/* Submit button Styles */

form button {
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1em;
    background-color: transparent;
    border-color: transparent;
    color: #fff;
    border-bottom: red 2px solid;
    padding: 5px;
    letter-spacing: 2px;
}

form button:hover {
    color: red;
}

/* Media Query for Tablets and higher (768px and higher) */

@media screen and (min-width: 768px) {

    /* This section refers to the header */

    #heading {
        font-size: 3em;
    }
    /* This section refers to the welcome text */

    #welcome-div {
        margin-left: 50px;
        margin-right: 50px;
    }

    #prompt-div {
        margin-left: 50px;
        margin-right: 50px;
    }

    #welcome-text {
        font-size: 2em;
        padding: 10px;
    }

    #prompt-text {
        font-size: 2.5em;
    }

    /* This section refers to the form */

    #form {
        margin-left: 150px;
        margin-right: 150px;
    }

    .toggle-button {
        font-size: 2em;
    }

    #inputs {
        font-size: 1.5em;
    }

    #form button {
        font-size: 1.5em;
    }
}